#heading {
    height: 100px;
    width: 100px;
    text-align: center;
    margin: 5px;
    background-color: paleturquoise;
    text-decoration-color: black;
}

body{
    background-color: antiquewhite;
}

button {
    background-color: cyan;
    text-decoration-color: black;
    border-color: black;
    
}